.forgotmain{
    border:solid 1px gray;
    height: 480px;
    width: 700px;
    display: flex;
    margin-left: 400px;
    margin-top: 100px;
}
.forgotleft{
    border: solid 1px gray;
    height: 480px;
    width: 350px;
}
.forgotright{
    border: solid 1px gray;
    height: 480px;
    /* display: flex; */
    width: 350px;
    background-color: gray;
}
.forgottop{
    border: solid 1px gray;
    height: 480px;
    width:350px ;
}
h2{
    text-align: center;
    margin-top: 100px;
    color: white;
    /* margin-left: 200px; */
}
input{
    padding: 10px 30px 10px 30px;
    margin-top: 10px;
    margin-left: 55px;
    border-radius: 10px;
    border: solid 1px gray;
}
.update{
    margin-top: 10px;
    padding: 10px 95px 10px 95px;
    margin-left: 55px;
    border-radius: 10px;
    border: solid 1px gray;
    

}
.image{
    height: 480px;
    width: 350px;
}

