#navbar
{
    border: 1px solid gray;
    height: 80px;
    width: 100%;
    display: flex;
    background-color: gray;
    
}   
.height
{
    height: 70px;
    width: 70px;
    margin-top: 5px;
    
    border-radius: 100px;
    margin-left: 5%;
}
.Home
{
    margin-left: 870px;
    margin-top: 40px;
    font-size: 18px;
    color: white;
    font-style: italic;
}
.Gallery
{
    margin-left: 90px;
    margin-top: 40px;
    font-size: 18px;
    color: white;
    font-style: italic;
}
.Signup
{
    margin-left: 90px;
    margin-top: 40px;
    font-size: 18px;
    color: white;
    font-style: italic;
}
.slide
{
 
    height: 600px;
    width: 88%;
    margin-top: 20px;
    margin-left: 80px;       
   
}
.slid
{
    width: 100%;
    height: 600px;

}
.homeimage
{
   
    height: 400px;
    width:40%;
    margin-left:80px;
    margin-top: 20px;
}
.home
{
    height: 400px;
    width:579px;
}
.screen
{
    display: flex;

}
.color
{
   
    height: 200px;
    width: 46%;
    margin-top: 140px;
    margin-left: 25px;
    background-color: gray;

}
h5
{
    font-size: 20px;
    color:white;
    margin-top: 60px;
    margin-left: 40px;
    font-style: italic;
   
}
.flex
{
    display: flex;

    padding:10px;
    display: flex;
}
.border
{
   border:1px solid gray;
   height:450px;
   width:400px;
   margin-left: 70px;
   border-radius: 10px;
   margin-top: 29px;
   background-color: rgb(241, 239, 239);
   box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;


}
.control
{
   border:1px solid gray;
   height:450px;
   width:400px;
   border-radius: 10px;
   margin-left: 29px;
   margin-top: 29px;
   background-color:  rgb(241, 239, 239);
   box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;


}
.margin
{
   border:1px solid gray;
   height:450px;
   width:400px;
   border-radius: 10px;
   margin-left: 29px;
   margin-top: 29px;
   background-color: rgb(241, 239, 239);
   box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; 



}

.top
{
    border:solid 1px gray;
    height: 300px;
    width: 250px;
    margin-left: 75px;
    margin-top: 40px;
    background-color:white;

}
.content
{
    height: 300px;
    width: 250px;
    opacity: 1.0;
}
.bottom
{
    border:solid 1px gray;
    height: 300px;
    width: 250px;
    margin-left: 75px;
    margin-top: 40px;
    background-color:white;
}
.left
{

    height: 300px;
    width: 250px;
    margin-left: 75px;
    margin-top: 40px;
    background-color:white;
}

.enter
{
    height: 300px;
    width: 250px;
    opacity: 1.0;
}
.back{
    height: 300px;
    width: 250px;
    opacity: 1.0;
}
.footer
{
    
    height:300px;
    width: 100%;
    margin-top: 30px;
}
h6
{
    font-size: 15px;
    font-style: italic;
    margin-left: 30px;
    color: rgb(69, 67, 67);
}
footer
{
    border:1px solid gray;
    height: 300px;
    width: 100%;
    margin-top: 30px;
    display: flex; 
    background-color: rgb(209, 206, 206);
}
.About
{
   margin-top: 60px; 
   margin-left: 150px; 
   font-style: italic;
   color: rgb(62, 59, 59);
}
 .connect
{
    margin-top: 40px; 
    margin-left: 300px; 
    font-style: italic;
    color: rgb(62, 59, 59);
    
}
p{
    font-size: 14px;
    margin-left: 10px;
}
.google{
    margin-left: -40px;
}
.contact
{
    margin-top: 40px; 
    margin-left: 300px; 
    font-style: italic;
    color: rgb(62, 59, 59);
}
.contactNumber{
    height: 18px;
    width: 18px;
    margin-top: 15px;
}
.mobile{
    display: flex;
}

.facebookImage
{
    border-radius: 100px;
    height: 30px;
    width: 30px;
    margin-top: 15px;
    margin-right: 10px;
   
   
}
.equal
{
    display: flex;
} 