
.loginMain{
    
    border:solid 1px gray;
    height:480px;
    width:700px;
    margin-top: 100px;
    margin-left: 400px;
    background-Color: rgb(173, 171, 169);
    
}
.loginMainTag{
    display: flex;
}
.bottom{
    
    height: 50px;
    width:696px ;
   
}
h2{
    margin-top: 70px;
   
    color:white;
    text-align: center;
}
.loginLeftTag{

    width:50px;
    height: 400px;
    
} 
.size{
    height: 480px;
    width: 350px;
}
.loginRightTag{
 
    width:350px;
    height:380px;
    margin-left: 300px;
}
input{
    padding: 10px 40px 10px 40px;
    margin-top: 10px;
    margin-left: 40px;
    border-radius: 10px;
    border:2px solid gray;
}
button{
    padding: 10px 108px 10px 108px;
    margin-top: 10px;
    margin-left: 40px;
    border-radius: 10px;
    border:1px solid white;
    background-color:gray;
    color:white; 
   
}
.loginChange{
    margin-top: 10px;
}

h5{
    margin-left: 430px;
    font-size: 15px;
    margin-top: 10px;
    color:white;
   
} 
.google{
     height: 30px; 
     width: 30px; 
     margin-left: 430px;
     border-radius: 30px;
     border:1px solid gray;
}
.twitter{
    height: 30px; 
    width: 30px; 
    margin-left: 10px;
    border-radius: 30px;
    border:1px solid gray;
}
.linkdin{
    height: 30px; 
    width: 30px; 
    margin-left: 10px;
    border-radius: 30px;
    border:1px solid gray;
}
.facebook{
    height: 30px; 
    width: 30px; 
    margin-left: 10px;
    border-radius: 30px;
    border:1px solid gray;
}
.label{
    color:white;
    font-size: 15px;
 
}
.box{
    height: 20px;
    width: 20px;
    margin-top: 10px; 
}
.password{
    margin-left: 180px;
    font-size: 15px;
    color: white;
}
.Account{
    font-size: 15px;
    color: white;
    margin-left: 40px;
} 
